@import "./variables";
//@import "./navbar";
@import "./sidebar";

* {
    box-sizing: border-box;
}

html {
    font-family: 'Saira', sans-serif;
    background-color: black;
}

body {
    background-color: black;
    max-width: 1920px;
    margin: auto;
}

h1 {
    font-size: 2.75rem; 
    text-transform: uppercase;
    font-weight: 500;
}

p {
    font-size: 0.75rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

button {
    cursor: pointer;
}

header {
    height: 100vh;
    min-height: 800px;
}

.beveled-frame {
    clip-path: polygon(5% 0, 95% 0, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0 95%, 0 5%);
    position: relative;
}

.fullscreen-video {
    display: none;
}

.breadcrumbs {
    text-transform: uppercase;
    color: $yellow;
    font-size: .75rem;
    visibility: hidden;
    grid-column: 2 / span 2;
    grid-row: 2;
    margin-top: 2rem;
    z-index: 100;
    padding: 0 .5rem;
    cursor: pointer;
    border-left: 3px solid $yellow;
    border-right: 3px solid $yellow;
    place-self: start start;
    &.animation-enter {
        transform: translateX(100vw);
    }
    .expanded-description & {
        transform: translateX(0);
        visibility: visible;
    }
}    

.container {
    background-image: url('../../Design\ Assets/background-filter-blank-square-50.png');
    background-repeat: inherit;
    background-size: 50rem;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    max-height: 1080px;
    min-height: 800px;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(8, 1fr) .5fr;
    grid-template-columns: repeat(6, 1fr); 
    overflow: hidden;
    &:after {
        content: attr(data-info);
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        left: -15px;
        text-shadow: -1px -1px 0 $blue, 1px -1px 0 $blue, -1px 1px 0 $blue, 1px 1px 0 $blue;
        font-size: 6rem;
        opacity: .5;
        mix-blend-mode: lighten;
        transform: rotate(-180deg);
        writing-mode: vertical-rl;
        text-orientation: sideways;
        letter-spacing: 10px;
    }
}

.container-no-bg {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    max-height: 1080px;
    min-height: 800px;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(8, 1fr) 0.5fr;
    grid-template-columns: repeat(6, 1fr);
    overflow: hidden;
}





//**************  PAGE 1  **************//





     //*********  PAGE 1  *********//





          //****  PAGE 1  ****//






.container-home {
    background: $yellow;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    max-height: 1080px;
    min-height: 800px;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(8, 1fr) .5fr;
    grid-template-columns: repeat(6, 1fr);
    overflow: hidden;
    &.animation-enter {
        display: absolute;
        top: 0;
        display: none;
    }
}

.platform-select {
    grid-column: 1 / span 6;
    grid-row: 2/span 4;
    height: 6rem;
    //background-color: black;
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: visible;
    z-index: 5;
    .platform {
        width: 8rem;
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-position-y: 45%;
        transform: scale(.9);
        cursor: pointer;
        &.ps4 {
            background-image: url('../../Design\ Assets/logo-ps4.svg');
        }
        &.xbox {
            background-image: url('../../Design\ Assets/logo-xboxone.svg');
        }
        &.pc {
            background-image: url('../../Design\ Assets/logo-pc.svg');
            background-size: 3rem;
        }
        &.animation-enter {
            transform: translateX(50vw);
            &:before, &:after {
                display: none;
            }
        }
        &.animation-exit {
            transform: translateX(-50vw);
            &:before, &:after {
                display: none;
            }
        }
        &.animation-off-right {
            transform: translateX(100vw);
            visibility: hidden;
            &:before, &:after {
                display: none;
            }
        }
        &.animation-off-left {
            transform: translateX(-100vw);
            visibility: hidden;
        }
        &:before, &:after {
            content: "";
            position: absolute;
            height: 100%;
            width: 20px;
            top: 0px;
            background-image: radial-gradient(circle at center, $red 1px, transparent 3px), radial-gradient(circle at center, $red 1px, transparent 3px);
            padding: -0.25rem;
            background-size: 20px 20px;
            background-position: top center, bottom center;
            background-repeat: no-repeat;
        }
        &:before {
            left: -1.5rem;
        }
        &:after {
            right: -1.5rem;
        }
    }
    .platform-animation {
        position: absolute;
        bottom: 3px;
        height: 0.5rem;
        width: 7rem;
        transform: translateY(-7px) scaleY(.7);
        overflow: hidden;
        &:before, &:after {
            content: '';
            background-image: url('../../Design\ Assets/detail-header-bottom-red.svg');
            background-repeat: no-repeat;
            transform: scaleX(1.5);
            width: 4rem;
            height: 100%;
            position: absolute;
        }
        &:before {
            transform: rotateY(180deg) translateX(-8%) rotateX(180deg);
            background-position-x: -19%
        }
        &:after {
            transform: translateX(71%) rotateX(180deg);
            background-position-x: -20%
        }
    }
}

.platform-counter, .hero-counter, .character-counter, .wallpaper-counter {
    &.platform-counter {
        grid-row: 3; 
        margin-top: 1.25rem;
    }
    &.hero-counter {
        grid-row: 8;
        margin-top: -0.4rem;
        z-index: 102;
    }
    &.character-counter {
        grid-row: 8;
        z-index: 101;
        button {
            filter: invert(1);
        }
    }
    &.wallpaper-counter {
        grid-row: 8;
        z-index: 101;
        button {
            filter: invert(1);
        }        
    }
    grid-column: 3 / 5;
    height: 1rem;
    justify-self: center;
    display: flex;
    width: 8rem;
    justify-content: space-between;
    button {
        border: none;
        outline: none;
        background-image: url('../../Design\ Assets/icon-arrow-select.svg');
        background-color: transparent;
        background-repeat: no-repeat;
        &.previous-slide {
            transform: rotate(90deg);
        }
        &.next-slide {
            transform: rotate(-90deg);
        }
    }
    .slide-counter {
        color: $red;
        font-size: 0.875rem;
        text-shadow: 0px 0px 4px rgba(254,0,60,0.5);
        font-weight: 700;
        opacity: 0.7;
    }
    .slash {
        margin: 0 0.5rem;
    }
}

.hero-container {
    grid-column: 1 / span 7;
    grid-row: 3/7;
    margin-top: 3.75rem;
    height: 20rem;
    position: relative;
}

.centering-div {
    position: relative;
    z-index: 1;
    margin: auto;
    max-width: 23rem;
    z-index: 3;
}

.hero {
    position: absolute;
    z-index: 3;
    top: -32px;
    left: -13px;
    object-fit: contain;
    object-position: left;
    height: 110%;
    transform-origin: bottom;
    transform: scale(1.05);
    height: 22rem;
}

.hero-text  {
    position: absolute;
    font-size: 8rem;
    white-space: nowrap;
    left: -1rem;
    top: 6rem;
    .zero, .seven, .seven-2 {
        opacity: 0.5;
        text-shadow:
       -1px -1px 0 $yellow,  
        1px -1px 0 $yellow,
       -1px  1px 0 $yellow,
        1px  1px 0 $yellow;
    }
    .two {
        z-index: 3;
    }
    .zero {
        position: relative;
        z-index: 4;
    }
    .seven {
        position: relative;
        z-index: 2;
    }
    .seven-2 {
        position: relative;
        z-index: 4;
    }
}

.trailer-container {
    overflow: hidden;
    margin-left: 4.5rem;
    height: 20rem;
    width: 45rem;
    position: relative;
    filter: brightness(0.8) hue-rotate(113deg);
    img {
        object-fit: cover;
        height: 100%;
        top: 0;
        position: absolute;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../../Design\ Assets/hero-overlay.png');
        mix-blend-mode: color-dodge;
        opacity: 1;
        background-size: 100%;
        height: 40rem;
        width: 100%;
    }
}

.homepage-video {
    display: none;
}

.trailer-border {
    position: absolute;
    &:before, &:after {
        content: '';
        height: .75rem; 
        width: 20rem;
        background-image: url('../../Design\ Assets/detail-header-bottom-yellow.svg');
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &:before {
        left: .25rem;
        top: -4px;
        z-index: 2;
    }
    &:after {
        transform: rotateZ(-90deg);
        z-index: 2;
        top: 2rem;
        left: -5.2rem;
    }
}

.hero-container i {
    position: absolute;
    left: -1rem;
    bottom: -.25rem;
    width: 0;
    height: 0;
    border-color:  transparent  transparent transparent $yellow ;
    border-style: solid;
    border-width: 60px 0 0 60px;
    z-index: 5;
    margin-left: 4.5rem;
}


.button-container-home {
    display: flex;
    position: absolute;
    grid-row: 5;
    bottom: 3rem;
    z-index: 101;
    justify-content: center;
    width: 100%;
    transform: translateX(-2%) scale(0.9);
    button {
        outline: none;
        border: none;
        background-color: transparent;
        background-size: 100%;
        width: 11rem;
        background-repeat: no-repeat;
        font-size: .75rem;
        font-weight: 700;
        color: $yellow;
        text-transform: uppercase;
        height: 2.5rem;
        padding-top: 2px;
    }
    .pre-order {
        background-image: url('../../Design\ Assets/button-solid-red.svg');
        transform: translateX(10%);
        z-index: 2;
        padding-left: 15px;
    }

    .watch-trailer {
        background-image: url('../../Design\ Assets/button-outline-yellow.svg');
        transform: translateX(-10%) scaleX(1.1);
        z-index: 1;
        padding-left: 20px;
    }
}

.next-hero-preview {
    background-image: url('../../Design Assets/hero-2-preview.png');
    height: 5rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 101;
    text-align: center;
    padding-right: 5rem;
    font-size: 2rem;
    position: relative;
    cursor: pointer;
}

.scroll-indicator {
    position: fixed;
    z-index: 999;
    bottom: 5.2631%;
    left: 50%;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    div {
        background-image: url('../../Design\ Assets/small-circle.svg');
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 0.5rem;
        height: 0.4rem;
        width: 0.4rem;
        animation: pulse 1.15s alternate infinite linear;
        &:first-child {
            opacity: 0.25;
            animation-delay: .1;
            //visibility: hidden;
        }
        &:nth-child(2){
            opacity: 0.50;
            animation-delay: 0.2s;
            //visibility: hidden;
        }
        &:nth-child(3){
            animation-delay: 0.3s;
            //visibility: hidden;
        }
    }
}

.share-btn-mobile {
    position: fixed;
    bottom: 5.2631%;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-image: url('../../Design\ Assets/share-button-black.svg');
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: 100%;
    margin-right: 1rem;
    z-index: 999;
    cursor: pointer;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../Design\ Assets/photoshop_scanlines_texture_overlay_by_sinner_pwa_d6uu408-pre.png');
    mix-blend-mode: color-burn;
    opacity: .5;
    background-size: 100%;
    height: 40rem;
    width: 100%;
}




//**************  PAGE 2  **************//






     //*********  PAGE 2  *********//





          //****  PAGE 2  ****//






.about {
    z-index: 1;
    transform: scaleY(1.01);
    transform-origin: 0% 0%;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        background-image: url('../../Design\ Assets/background-5.jpg');
        filter: blur(2px);
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 100%;
        min-height: 100%;
        mix-blend-mode: hard-light;
        background-position-x: 20%;
        z-index: -1;
    }
}

.about-content {
    color: white;
    grid-row: 4 / span 8;
    grid-column: 1/ span 7;
    padding: 0 2rem;
    position: relative;
    margin-top: -.5rem;
    z-index: 3;
    i {
        background-image: url('../../Design\ Assets/detail-header-bottom-red.svg');
        background-size: contain;
        height: 1rem;
        width: 10rem;
        background-repeat: no-repeat;
        display: block;
        transform: rotateX(180deg) scaleX(1) scaleY(.5);
        margin: .5rem 0;
        filter: brightness(0.85);
        &:after {
            content: '';
            height: 3px;
            width: 100vw;
            transform: translateY(-10px);
            background-color: $red;
            display: inline-block;
        }
    }
}

.about-paragraph-container {
    height: 20vh;
    overflow: scroll;
    padding-right: .65rem;
    &::-webkit-scrollbar {
        width: 3px;
        height: 0px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $red20;
    }
    &::-webkit-scrollbar-track {
        background-color: #444444
    }
}

.about-hero {
    background-image: url('../../Design\ Assets/hero-about-fade-large.png');
    background-repeat: no-repeat;
    background-size: contain;
    grid-row: 2 / span 8;
    grid-column: 1 / span 7;
    z-index: 1;
    transform: scale(1.25);
    margin-top: 2rem;
}






//**************  PAGE 3  **************//





     //*********  PAGE 3  *********//





          //****  PAGE 3  ****//






.trailer {
    &:before {
        content: '';
        position: absolute;
        background-image: url('../../Design\ Assets/background-3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 100%;
        min-height: 100%;
        mix-blend-mode: hard-light;
        background-position-x: 50%;
    }
    transform: translateY(1px);
    .play-button {
        grid-row: 5;
        grid-column: 4;
        transform: translate(-50%, -50%);
        background-image: url('../../Design\ Assets/preview-play-button.svg');
        position: relative;
        height: 4rem;
        width: 4rem;
        cursor: pointer;
        z-index: 1;
        &:after {
            content: '';
            background-color: $red;
            width: 500px;
            height: 3px;
            position: absolute;
            opacity: .5;
            top: 50%;
            left: 3.75rem;
            z-index: 1;
        }
    }
}






//**************  PAGE 4  **************//





     //*********  PAGE 4  *********//





          //****  PAGE 4  ****//      




.characters {
    &:before {
        content: '';
        position: absolute;
        background-image: url('../../Design\ Assets/background-6.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 100%;
        min-height: 100%;
        filter: contrast(1.25) brightness(.7) hue-rotate(190deg) blur(2px);
        mix-blend-mode: hard-light;
        background-position-x: 10%;
        z-index: -1;
    }
    z-index: 1;
    ul li {
        
    }
}


.slideshow {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: 1;
}

.slide {
    position: absolute;
    &.animation-enter {
        transform: translateX(100vw);
    }
}


.character-preview {
    margin-top: 1.5rem;
    grid-row: 2 / span 3;
    grid-column: 2 /6;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    max-height: 15.25rem;
    max-width: 15.25rem;
    z-index: 1;
    box-shadow: inset 0px 0px 20px 0px $red;
    &.v {
        background-image: url('../../Design\ Assets/v-female-dark-background.png');
        filter: brightness(1.125);
        background-size: cover;
        background-position-x: -4%;
        background-position-y: 35%;
    }
    &.dexter {
        background-image: url('../../Design\ Assets/dexter-blurred-background.png');
        background-size: 18rem;
        background-position-y: 35%;
        background-position-x: 0%;
    }
    &.jackie {
        background-image: url('../../Design\ Assets/jackie-blurred-background.png');
        background-size: 18rem;
        background-position-y: 35%;
        background-position-x: 0%;
    }
    &.johnny {
        background-image: url('../../Design\ Assets/johnny-blurred-background.png');
        background-size: 18rem;
        background-position-y: 35%;
        background-position-x: 0%;
    }
    .expanded-description & {
        transform: translateY(1rem) translateX(-100vw);
    }
}

.character-preview-overlay {
    margin-top: 1.5rem;
    grid-row: 2 / span 3;
    grid-column: 2 /6;
    position: relative;
    max-height: 15.25rem;
    max-width: 15.25rem;
    &:before, &:after {
        content: "";
        position: absolute;
        height: 102%;
        width: 20px;
        top: -3%;
        background-image: radial-gradient(circle at center, $red 1px, transparent 3px), radial-gradient(circle at center, $red 1px, transparent 3px);
        padding: 0.5rem;
        background-size: 20px 20px;
        background-position: top center, bottom center;
        background-repeat: no-repeat;
    }
    &:before {
        left: -1.5rem;
    }
    &:after {
        right: -1.5rem;
    }
}

.character-image {
    transform: translateX(100vw);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    filter: brightness(.75);
    .expanded-description & {
        transform: translateX(0);
    }
    &.v {
        background-image: url('../../Design\ Assets/v-female-transparent-background.png');
        background-position-x: -25%;
        filter: brightness(1);
    }
    &.dexter {
        background-image: url('../../Design\ Assets/dexter-transparent-background.png');
        background-position-x: 45%;
    }
    &.jackie {
        background-image: url('../../Design\ Assets/jackie-transparent-background.png');
        background-position-x: 35%;
    }
    &.johnny {
        background-image: url('../../Design\ Assets/johnny-transparent-background.png');
        background-position-x: 77%;
        height: 95%;
    }
}

.back-button {
    color: $yellow;
    font-size: 0.75rem;
    text-transform: uppercase;
    grid-row: 4;
    grid-column: 2;
    margin-top: 3rem;
    padding-left: 1rem;
    z-index: 100;
    transform: translateX(100vw);
    cursor: pointer;
    .expanded-description & {
        transform: translateX(0);
    }
    &:before {
        content: '';
        background-image: url("../../Design Assets/icon-arrow-select.svg");
        background-repeat: no-repeat;
        transform: translateX(-1.4rem) translateY(.07rem) rotate(90deg);
        filter: invert(1);
        background-size: contain;
        width: .65rem;
        height: .65rem;
        position: absolute;
    }
}

.character-name {
    grid-row: 5;
    color: white;
    grid-column: 2;
    font-weight: 400;
    position: absolute;
    text-transform: none;
    z-index: 5;
}

li.dexter, li.jackie, li.johnny {
    h1 {
        font-size: 2.5rem;
    }
    .characters-divider {
        margin-top: 2.25rem;
    }
    p {
        margin-top: 0.5rem;
    }
}

.characters-divider {
    grid-row: 5;
    grid-column: 2;
    width: 5rem;
    position: absolute;
    background-image: url('../../Design Assets/detail-header-bottom-red.svg');
    background-size: contain;
    height: 1rem;
    background-repeat: no-repeat;
    display: block;
    transform-origin: 0% 0%;
    transform: rotateX(180deg) scaleX(1.25) scaleY(1) translateY(-3.5rem);
    margin: .5rem 0;
    filter: brightness(0.85);
    opacity: 0.6;
    z-index: 5;
    &:after {
        content: '';
        height: 2px;
        width: 11.75rem;
        transform: translateY(-11px) translateX(8px);
        background-color: $red;
        display: inline-block;
    }
}

.character-description {
    grid-row: 6;
    grid-column: 2 / span 4;
    z-index: 1;
    position: absolute;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 6rem;
    width: 100%;
    white-space: wrap;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
    word-break: break-all;
    .expanded-description &{
        -webkit-line-clamp: 20;
        overflow: scroll;
        height: 9rem;
        &::-webkit-scrollbar {
            width: 3px;
            height: 0px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $red20;
        }
        &::-webkit-scrollbar-track {
            background-color: #444444
        }
    }
}

.read-more {
    grid-row: 7;
    grid-column: 4;
    background-image: url('../../Design Assets/button-outline-yellow.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    transform: translateX(-10%) scaleX(1.1);
    background-size: contain;
    border: none;
    outline: none;
    color: $yellow;
    width: 10rem;
    height: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    font-size: 0.675rem;
    transform: translateX(-50%) translateY(75%);
    .expanded-description & {
        display: none;
    }
}






//**************  PAGE 5  **************//





     //*********  PAGE 5  *********//





          //****  PAGE 5  ****// 






.wallpaper {
    &:before {
        content: '';
        position: absolute;
        background-image: url('../../Design\ Assets/background-4.jpg');
        filter: saturate(1.5) brightness(0.5) blur(2px);
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 100%;
        min-height: 100%;
        mix-blend-mode: hard-light;
        background-position-x: 20%;
    }
    z-index: 1;
}       

.wallpaper-container {
    grid-row: 3 / span 3;
    margin-top: 2rem;
    grid-column: 2 / span 4;
    display: flex;
    justify-content: center;
    position: relative;
    transform: translateY(2rem);
    &.animation-enter {
        transform: translateX(100vw);
    }
}

.wallpaper-overlay {
    width: 100%;
    height: 100%;
    max-width: 30rem;
    max-height: 30rem;
    position: absolute;
    &:before, &:after {
        content: "";
        position: absolute;
        height: 110%;
        width: 20px;
        top: -5%;
        background-image: radial-gradient(circle at center, $red 1px, transparent 3px), radial-gradient(circle at center, $red 1px, transparent 3px);
        padding: -0.25rem;
        background-size: 20px 20px;
        background-position: top center, bottom center;
        background-repeat: no-repeat;
    }
    &:before {
        left: -1rem;
    }
    &:after {
        right: -1rem;
    }
}

.wallpaper-preview {
    width: 100%;
    height: 100%;
    max-width: 30rem;
    max-height: 30rem;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    clip-path: polygon(5% 0, 95% 0, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0 95%, 0 5%);
    &.wp-1 {
        background-image: url('../../Design\ Assets/wallpaper-one.jpg');
    }
    &.wp-2 {
        background-image: url('../../Design\ Assets/wallpaper-two.jpg');
    }
    &.wp-3 {
        background-image: url('../../Design\ Assets/wallpaper-three.jpg');
    }
    &.wp-4 {
        background-image: url('../../Design\ Assets/wallpaper-four.jpg');
    }
    &.wp-5 {
        background-image: url('../../Design\ Assets/wallpaper-five.jpg');
    }
    &.wp-6 {
        background-image: url('../../Design\ Assets/wallpaper-six.jpg');
    }
}

.wallpaper-divider {
    grid-row: 8;
    grid-column: 4;
    width: 5rem;
    position: absolute;
    background-image: url('../../Design Assets/detail-header-bottom-red.svg');
    background-size: contain;
    height: 1rem;
    background-repeat: no-repeat;
    display: block;
    transform-origin: 0% 0%;
    transform: scaleX(1.5) scaleY(1.5) translateY(-3.5rem);
    margin: 4rem 0 0 -2rem;
    filter: brightness(0.85);
    opacity: 0.6;
    &:after {
        content: '';
        height: 2px;
        width: 100vw;
        transform: translateY(-11px) translateX(24px);
        background-color: $red;
        display: inline-block;
    }
}


//************************************************************
//***************>>>>><<<<<********************************
//**************>>>>>><<<<<<****************************
//*************>>>>>>><<<<<<<************************
//************>>>>>>>><<<<<<<<********************
//********** >>>>>>TABLET<<<<<< ***************
//************>>>>>>>><<<<<<<<*************
//*************>>>>>>><<<<<<<**********
//**************>>>>>><<<<<<*******
//***************>>>>><<<<<****
//*************************


@media screen and (min-width: 768px) {

    .container {
        &:after {
            font-size: 8rem;
        }
    }

    .centering-div {
        margin: 0 auto 0 21%;
    }

    .hero-text {
        font-size: 12rem;
        left: -7rem;
        span {
            margin-right: 2rem;
        }
    }

    .hero {
        height: 29rem;
    }

    .trailer-container {
        height: 27rem;
    }

    .trailer-border {
        &:before {
            left: 3rem;
        }
    }

    .button-container-home {
        bottom: -2rem;
    }

    .next-hero-preview {
        height: 8rem;
        margin-top: -2.5rem;
    }

    .platform-select .platform.animation-enter {
        transform: translateX(30vw);
    }

    .platform-counter.platform-counter {
        margin-top: 0.25rem;
    }


    //**************  PAGE 2  **************//
       
    
    //*********  PAGE 2  *********//
    
    
    //****  PAGE 2  ****//

    
    .container {
        &.about {
            height: calc(var(--vh, 1vh) * 75);
        }
        &.trailer {
            height: 80vw;
        }
    }

    .about-hero {
        background-size: 55%;
        background-position-x: 50%;
        grid-row: 1 / span 8;
        margin-top: 3rem;
        z-index: -1;
    }

    .about-content {
        margin-top: 3rem;
    }

    .container:after {
        margin-left: .25rem;
        margin-bottom: 1rem;
        z-index: 2;
    }


    //**************  PAGE 3  **************//
       
    
    //*********  PAGE 3  *********//
    
    
    //****  PAGE 3  ****//
    .trailer {
        &:before {
            display: none;
        }
    }
    .fullscreen-video {
        display: block;
        position: absolute;
        min-width: 100%;
        height: 100%;
        object-fit: cover;
        mix-blend-mode: hard-light;
        opacity: 1;
        z-index: 1;
        video {
            background-attachment: fixed;
            background-size: cover;
        }
    }

    .play-button {
        position: relative;
        &:before {
            position: absolute;
            top: 1rem;
            left: 4rem;
            content: 'Watch trailer';
            text-transform: uppercase;
            font-size: 0.75rem;
            color: $yellow;
            white-space: nowrap;
            //border-left: 3px solid $yellow;
            border-right: 3px solid $yellow;
            padding: 0 5px;
            animation: blink 0.5s infinite;
        }
    }


    //****  PAGE 4  ****//  

    .character-preview, .character-preview-overlay {
        max-width: 20rem;
        max-height: 20rem;
        margin: 0;
    }

    .character-preview {
        &.dexter, &.jackie, &.johnny {
            background-size: 25rem;
        } 
    }

    .characters-divider {
        &:after {
            width: 100vw;
        }
    }
    
    //****  PAGE 5  ****//   

    .wallpaper-container {
        grid-row: 2 / span 5;
        margin-top: 2rem;
        transform: translateY(2rem);
        .wallpaper-preview {
            max-height: 30rem;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
        &:before, &:after {
            height: 89%;
            top: -2.5%;
        }
    }
}



//***********************************************************
//*************** <<<<<|>>>>> ******************************
//************** <<<<<|||>>>>> **************************
//************* <<<<<|||||>>>>> **********************
//************ <<<<<|||||||>>>>> ******************
//*********** <<<SMALL DESKTOP>>> **************
//************ <<<<<|||||||>>>>> ************
//************* <<<<<|||||>>>>> **********
//************** <<<<<|||>>>>> ********
//*************** <<<<<|>>>>> ******
//*******************************



@media screen and (min-width: 1024px) {
    .centering-div {
        margin: -2rem auto 0 32%;
    }

    h1 {
        font-size: 3.5rem;
        line-height: 4.25rem;
    }

    p {
        font-size: 0.875rem;
    }

    .breadcrumbs {
        font-size: 0.875rem;
        font-weight: 700;
        visibility: visible;
    }

    .button-container-home {
        transform: scale(0.9) translateX(0);
    }

    .hero {
        height: 44rem;
        top: -11rem;
        left: -17rem;
        transform: translateY(-2px);
        content:url("../../Design\ Assets/hero-fullscreen.png");
    }
    
    .trailer-container {
        top: -1rem;
        margin-left: 3.75rem;
        height: 34rem;
        width: 80vw;
        left: -4.8rem;
    }

    .hero-container {
        height: 23rem;
    }

    .hero-container i {
        bottom: 2rem;
        transform: scale(2);
        left: -4rem;
    }

    .trailer-border {
        &:before {
            height: 2rem;
            width: 48rem;
            top: -2rem;
            left: -16rem;
        }
        &:after {
            width: 39rem;
            height: 2rem;
            top: -3rem;
            left: -20.5rem;
        }
    }

    .homepage-video {
        display: block;
        position: absolute;
        min-width: 100%;
        height: 100%;
        object-fit: cover;
        mix-blend-mode: hard-light;
        opacity: 1;
        z-index: 1;
    }

    .hero-text {
        font-size: 16rem;
        left: -16rem;
        top: 6rem;
        span {
            margin-right: 3rem;
        }
    }

    .platform-select {
        grid-row: 3 / span 4;
        grid-column: 4 /span 4;
        margin-top: -6rem;
        margin-left: 6rem;
        max-width: 35rem;
        transform: scale(0.9);
        justify-content: space-between;
        overflow: visible;
        .platform:before, .platform:after {
        }
        .platform-animation {
            left: 0.5rem;
        }
        .platform {
            position: relative;
            &.xbox {
                margin-left: 1.5rem;
            }
            &.pc {
                background-size: 2rem;
            }
            &.animation-enter {
                transform: translateX(0vw);
            }
            &.animation-off-right {
                visibility: visible;
                transform: translateX(0vw);
            }
        }
    }

    .trailer-container {
        img {
            display: none;
        }
        &:after {
            content: '';
            background-image: url('../../Design\ Assets/background-filter-blank-square-67.png');
            background-repeat: inherit;
            background-size: 50%;
            min-height: 100%;
            min-width: 100%;
            position: absolute;
        }
    }

    .next-hero-preview {
        position: absolute;
        right: 6rem;
        bottom: -11rem;
        transform: scale(2);
    }

    .hero-divider {
        width: 5rem;
        position: absolute;
        background-image: url('../../Design Assets/detail-header-bottom-red.svg');
        background-size: contain;
        height: 1rem;
        background-repeat: no-repeat;
        display: block;
        transform-origin: 0% 0%;
        bottom: -4.25rem;
        right: 45%;
        transform: scaleX(1.25) scaleY(1);
        margin: .5rem 0;
        filter: brightness(0.85);
        opacity: 0.6;
        z-index: 10;
        &:after {
            content: '';
            height: 2px;
            width: 25rem;
            transform: translateY(-11px) translateX(8px);
            background-color: $red;
            display: inline-block;
        }
    }

    header .container-home .hero-counter {
        grid-row: 7;
        grid-column: 2/6;
        margin-top: 3rem;
        button {
            filter: invert(1);
        }
    }

    .container {
        &:after {
            left: 70%;
            z-index: -1;
        }
    }



//**************  PAGE 2  **************//





     //*********  PAGE 2  *********//





          //****  PAGE 2  ****// 

    .about:after {
        left: 10%;
        filter: opacity(0.5);
    }

    .container.about {
        height: calc(var(--vh, 1vh) * 100);
    }

    .about-hero {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40rem;
        height: 50rem;
        background-size: 100%;
        filter: brightness(.75);
    }

    .about-content {
        grid-column: 2 / span 8;
        margin-left: auto;
        margin-right: 15%;
        padding-left: 3rem;
        grid-row: 5 / span 7;
        max-width: 65rem;
        min-width: 55rem;
        h1 {
            margin-bottom: 2rem;
            padding-right: 20rem;
        }
        i {
            margin-bottom: 2.25rem;
        }   
    }

    .about-paragraph-container {
        overflow: initial;
        p {
            line-height: 2rem;
            padding-right: 12rem;
        }
    }

    .about-image {
        position: absolute;
        top: 20%;
        left: 20%;
        width: 22rem;
        height: 22rem;
        background-image: url('../../Design\ Assets/v-stare.jpg');
        background-size: 200%;
        background-repeat: no-repeat;
        background-position-x: 20%;
        transform: matrix(1, 0, 0, 1, -300, 0)
    }

    .about-image-overlay {
        position: absolute;
        top: 20%;
        left: 20%;
        width: 22rem;
        height: 22rem;
        position: absolute;
        &:before, &:after {
            content: "";
            position: absolute;
            height: 100%;
            width: 20px;
            top: -1.75%;
            background-image: radial-gradient(circle at center, $red 1px, transparent 3px), radial-gradient(circle at center, $red 1px, transparent 3px);
            padding: 0.5rem;
            background-size: 20px 20px;
            background-position: top center, bottom center;
            background-repeat: no-repeat;
        }
        &:before {
            left: -1.5rem;
        }
        &:after {
            right: -1.5rem;
        }
    }

//**************  PAGE 3  **************//





    //*********  PAGE 3  *********//





        //****  PAGE 3  ****// 


    .trailer {
        .play-button {
            &:before {
                font-size: 1rem;
                top: 0.5rem;
            }
            &:after {
                width: 100vw;
            }
        }
    }

    .trailer:after {
        left: 90%;
        filter: opacity(.5);
        z-index: 2;
        mix-blend-mode: color-burn;
    }

    


//************  PAGE 4  ************//
         




    //********  PAGE 4  ********//





        //****  PAGE 4  ****// 




    .characters:after {
        left: 15%;
        z-index: -1;
        filter: opacity(.4);
    }

    .breadcrumbs.animation-enter {
        transform: translateX(0);
    }

    .character-preview, .character-preview-overlay {
        grid-row: 4 / span 3;
        width: 19rem;
        height: 22rem;
        margin-top: -2rem;
        grid-column: 2 /4;
        .expanded-description & {
            transform: translateX(0) translateY(0);
            grid-row: 3 / span 4;
            box-shadow: none;
            max-width: 25rem;
            max-height: 27rem;
            &:after, &:before {
                height: 100%;
                top: -2%;
            }
        }
    }
    .character-preview {
        .v & {
            .expanded-description & {
                background-image: url('../../Design\ Assets/female-v-car.jpg');
                background-position-x: 40%;
                background-size: cover;
            }
        }
        .dexter & {
            .expanded-description & {
                background-image: url('../../Design\ Assets/dexter-blurred-background.png');
                background-size: cover;
            }
        }
        .jackie & {
            .expanded-description & {
                background-image: url('../../Design\ Assets/jackie-sitting.jpg');
                background-size: cover;
                background-position-x: 50%;
            }
        }
        .johnny & {
            .expanded-description & {
                background-image: url('../../Design\ Assets/johnny-2.jpg');
                background-size: cover;
                background-position-y: 0%;
            }
        }
    }    

    .character-counter {
        grid-column: 2 / 5;
        justify-self: start;
        margin-left: 23rem;
    }

    .expanded-description .back-button {
        grid-row: 7;
    }

    .slide {
        &.animation-coming-next {
            z-index: 3;
            .expanded-description & {
                visibility: hidden;
            }
        }
        &.animation-coming-second {
            z-index: 2;
            margin-left: 3rem;
            .character-preview {
                filter: brightness(.75) grayscale(1);
            }
            .character-preview-overlay {
                filter: brightness(.75);
            }
            .character-preview, .character-preview-overlay {
                transform: scale(.95);
            }
            .expanded-description & {
                visibility: hidden;
            }
        }
        &.animation-coming-third {
            z-index: 1;
            margin-left: 6rem;
            .character-preview {
                filter: brightness(.25) grayscale(1);
            }
            .character-preview-overlay {
                filter: brightness(.5);
            }
            .character-preview, .character-preview-overlay {
                transform: scale(.9);
            }
            .expanded-description & {
                visibility: hidden;
            }
        }
    }

    .character-name, .character-description, .characters-divider {
        grid-column: 2 / 6;
        margin-left: 23rem;
        margin-top: 3rem;
    }
    
    .character-name {
        grid-row: 4;
        margin-top: 0;
        .expanded-description & {
            margin-top: 10rem;
            margin-left: -2rem;
        }
        .dexter &, .johnny &, .jackie & {
            .expanded-description & {
                line-height: 3rem;
            }
        }
    }

    .characters-divider {
        margin-top: -6rem;
        .expanded-description & {
            margin-top: 4rem;
            margin-left: -2rem;
        }
        .dexter &, .johnny &, .jackie & {
            .expanded-description & {
                margin-top: 5.5rem;
            }
        }
    }

    .character-description {
        margin-top: 0rem;
        grid-row: 5;
        max-width: 25rem;
        -webkit-line-clamp: 3;
        max-height: 4.5rem;
        word-break: break-word;
        z-index: 10;
        .expanded-description & {
            margin-top: 10rem;
            margin-left: -2rem;
            max-height: 100%;
            max-width: 35rem;
            overflow: visible;
        }
    }

    .characters-divider:after {
        max-width: 20rem;
        .expanded-description & {
            max-width: 25rem;
        }
    }

    .read-more {
        grid-row: 5;
        grid-column: 2;
        margin-left: 27.5rem;
        margin-top: 5.5rem;
    }

    .character-preview {
        &.dexter, &.jackie, &.johnny {
            background-size: 27rem;
        } 
    }
    .character-counter-divider {
        background-image: url('../../Design\ Assets/detail-header-bottom-red.svg');
        background-size: contain;
        height: 1rem;
        width: 6rem;
        background-repeat: no-repeat;
        display: block;
        transform: scaleX(1) scaleY(.5);
        margin: .5rem 0;
        filter: brightness(0.85);
        grid-column: 2 / 5;
        margin-left: 25rem;
        grid-row: 7;
        margin-top: 6rem;
        //margin-left: -1rem;
        &:after {
            content: '';
            height: 3px;
            width: 100vw;
            transform: translateY(-10px);
            background-color: $red;
            display: inline-block;
        }
    }

    .characters {
        .container-no-bg {
            grid-template-columns: repeat(6, 1fr);
        }
        .slide.animation-enter {
            left: 800px;
            transform: translateX(0);
            .character-image, .character-name, .characters-divider, .character-description {
                transform: translateX(50vw);
            }
            .character-preview {
                box-shadow: none;
            }
        }
    }

    .character-image {
        &.v {
            .expanded-description & {
                width: 46%;
                background-position-x: 2%;
                height: 98%;
            }
        }
        &.dexter {
            .expanded-description & {
                background-image: url('../../Design\ Assets/dexter-transparent-background.png');
                width: 45%;
                background-position-x: 2%;
                height: 98%;
            }
        }
        &.jackie {
            .expanded-description & {
                filter: brightness(1) contrast(1.25);
                height: 100%;
                top: 0;
                right: -30rem;
            }
        }
        &.johnny {
            .expanded-description & {
                background-position-x: 114%;
                height: 95%;
                background-size: contain;
            }
        }
    }




//************  PAGE 5  ************//
         




    //********  PAGE 5  ********//





        //****  PAGE 5  ****// 

    
        
    .wallpaper .container-no-bg {
        grid-row: 4 / span 3;
        height: 30rem;
        width: 160rem;
        justify-content: space-between;
        grid-column: 2 / span 9;
        display: flex;
        position: relative;
        margin-top: -2rem;
        overflow: visible;
        transform-origin: 0 0;
        transform: scale(.95);
    }

    .wallpaper-container {
        display: inline-block;
        position: relative;
        margin: 0;
        height: 25rem;
        width: 25rem;
        transform: translateY(0);
        .wallpaper-overlay {
            &:before {
                left: -.75rem;
            }
            &:after {
                right: -.75rem;
            }
            &:before, &:after {
                height: 105%;
                top: -2.5%;
            }
        }
        &.animation-enter {
            transform: translateX(0);
        }
        .wallpaper-preview {
            clip-path: polygon(2.5% 0, 97.5% 0, 100% 2.5%, 100% 97.5%, 97.5% 100%, 2.5% 100%, 0 97.5%, 0 2.5%);
            filter: brightness(.5);
            &.active {
                filter: brightness(1);
            }
        }

    }
    
    .wallpaper-divider {
        grid-column: 3;
    }

    .wallpaper-counter {
        grid-column: 1 / 5;
    }
}

//***********************************************************
//*************** <<<<<|>>>>> ******************************
//************** <<<<<|||>>>>> **************************
//************* <<<<<|||||>>>>> **********************
//************ <<<<<|||||||>>>>> ******************
//*********** <<<<<<DESKTOP>>>>>> **************
//************ <<<<<|||||||>>>>> ************
//************* <<<<<|||||>>>>> **********
//************** <<<<<|||>>>>> ********
//*************** <<<<<|>>>>> ******
//*******************************






@media screen and (min-width: 1550px) {

    .centering-div {
        margin: -2rem auto 0 30%;
    }

    h1 {
        font-size: 3.5rem;
        line-height: 4.25rem;
    }

    p {
        font-size: 0.875rem;
    }

    .breadcrumbs {
        font-size: 0.875rem;
        font-weight: 700;
        visibility: visible;
    }

    .hero {
        height: 50rem;
        top: -13rem;
        left: -13rem;
        transform: translateY(1px);
        content:url("../../Design\ Assets/hero-fullscreen.png");
    }
    
    .trailer-container {
        top: -7rem;
        margin-left: 6.75rem;
        height: 44rem;
        width: 70vw;
    }

    .hero-container {
        height: 23rem;
    }

    .hero-container i {
        bottom: 5.6rem;
        transform: scale(3.5);
        left: 2rem;
        z-index: 2;
        border-width: 68px 0 0 69px;
    }

    .trailer-border {
        &:before {
            height: 2rem;
            width: 40rem;
            top: -8rem;
            left: -8rem;
        }
        &:after {
            width: 40rem;
            height: 2rem;
            top: 1rem;
            left: -18.5rem;
        }
    }

    .homepage-video {
        display: block;
        position: absolute;
        min-width: 100%;
        height: 100%;
        object-fit: cover;
        mix-blend-mode: hard-light;
        opacity: 1;
        z-index: 1;
    }

    .hero-text {
        font-size: 16rem;
        left: -16rem;
        top: 6rem;
        span {
            margin-right: 6rem;
        }
    }

    .hero-text {
        &:before {
            content: "Select Platform";
            text-transform: uppercase;
            position: absolute;
            left: 51%;
            top: -6.7rem;
            transform: translateY(-50%);
            font-weight: 400;
            font-size: .875rem;
            opacity: 0.7;
            color: white;
            z-index: 10;
        }
    }

    .platform-spacer {
        background-color: white;
        height: 1px;
        width: 10px;
        position: absolute;
        top: -12px;
        left: 590px;
        z-index: 10;
        opacity: 0.7;
    }

    .platform-select {
        grid-row: 3 / span 4;
        grid-column: 4 /span 4;
        margin-top: -2rem;
        margin-left: auto;
        margin-right: -2rem;
        filter: invert(1);
        transform: scale(0.9);
        max-width: 27rem;
        .platform:before, .platform:after {
            filter: invert(1);
        }
        .platform-animation {
            filter: invert(1);
        }
        .platform {
            margin-right: 1rem;
            &.xbox {
                margin-left: 0.5rem;
            }
            &.pc {
                background-size: 2rem;
            }
            &.animation-enter {
                transform: translateX(0);
            }
            &.animation-off-right {
                transform: translateX(0);
                visibility: visible;
            }
        }
    }
    @media screen and (max-width: 1825px) {
        .platform-select:after {
            width: 5.5vw;
        }
    }
    @media screen and (max-width: 1750px) {
        .platform-select:after {
            width: 4.2vw;
        }
    }
    @media screen and (max-width: 1650px) {
        .platform-select:after {
            width: 2.8vw;
        }
    }

    .button-container-home {
        transform: translateX(-14.5rem) translateY(4.5rem);
    }

    .trailer-container {
        img {
            display: none;
        }
        &:after {
            content: '';
            background-image: url('../../Design\ Assets/background-filter-blank-square-67.png');
            background-repeat: inherit;
            background-size: 50%;
            min-height: 100%;
            min-width: 100%;
            position: absolute;
        }
    }

    .next-hero-preview {
        position: absolute;
        right: 6rem;
        bottom: -11rem;
        transform: scale(2);
    }

    .hero-text {
        font-size: 21rem;
        left: -21rem;
        top: 6rem;
        span {
            margin-right: 8rem;
        }
    }

    .hero-divider {
        width: 5rem;
        position: absolute;
        background-image: url('../../Design Assets/detail-header-bottom-red.svg');
        background-size: contain;
        height: 1rem;
        background-repeat: no-repeat;
        display: block;
        transform-origin: 0% 0%;
        bottom: -4.25rem;
        right: 27rem;
        transform: scaleX(1.25) scaleY(1);
        margin: .5rem 0;
        filter: brightness(0.85);
        opacity: 0.6;
        z-index: 10;
        &:after {
            content: '';
            height: 2px;
            width: 13rem;
            transform: translateY(-11px) translateX(8px);
            background-color: $red;
            display: inline-block;
        }
    }

    header .container-home .hero-counter {
        grid-row: 7;
        grid-column: 5/6;
        margin-left: -3.5rem;
        button {
            filter: invert(1);
        }
    }

    .container {
        &:after {
            left: 70%;
            z-index: -1;
        }
    }
}